*{
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: 600;
    font-size: large;
}
.banner{
    width: 100%;
    height:100vh;
    background-image: 
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    url(obraz.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
   
}
.navbar ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    font-size: 30px;

}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background:#dbc716;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}

.navbar ul li:hover::after{
    width: 100%;
    
}

.content{
    width: 100%;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 50px;
}

.content p{
    margin: 20px auto;
    font-weight: 500;
    line-height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #dbc716;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background:  #dbc716;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}

main{
    background-color: #4b5659;
}

.introduction{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h2{
    font-size: 46px;
    font-weight: 700;
    color: #ffffff;
}

h3{
    color: #fff;
}

p{
    color: #fff;
}
.line{
    height: 5px;
    background: #dbc716;
    border: 1px;
    margin-bottom: 20px; 
    text-align: center"
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.option{
    flex-basis: 30%;
    background: #1AC1F5;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    box-shadow: darkorange;
}

.option3{
    flex-basis: 30%;
   
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    box-shadow: darkorange;
}
.image{
    width: 100%;
    border-radius: 50px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.ticbackground
{   margin-top: 100px;
    background-image: 
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    url(ticbackground_image.png);
    background-size: cover;
    background-position: center;
}

footer {
    background-color: rgb(59, 68, 59);
    display: flex;
    color: white;
  }
.mail{
    color: #fff;
}

.author{
    background:  #dbc716;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    box-sizing: border-box;
    padding: 20px 12px;
    box-shadow: darkorange;
}


@media only screen and (max-width: 640px){
    .row{
    flex-direction: column;
    }   
    .content{
        margin-top: 30%;
    }
    .content h1{
        font-size: 30px;
    }
    .introduction h2{
        font-size: 35px;
        margin-bottom: 5%;
    }
    .line{
        margin-bottom: 20%;
    }
    
}

@media only screen and (max-width: 900px){
    .controls{
        flex-direction: column;
    }
   
    .navbar ul li{
        margin-top: 5%;
        flex-direction: column;
    }
    .logo{
        margin: auto;
        height: 50%;
    }
    .navbar ul li a{
        font-size: 20px;
    }
   
}

.langs{
    width: 150px;
    background: #1AC1F5;
    text-align: center;
    margin: 10px 20px;
    padding: 12px 24px;


}
.langs a{
    color: white;
    padding: 10 px;
    font-weight: 650;
    transition: .3s linear;

}
.langs a :hover{
    background: #dbc716;

}
.langs a.active{
    background: #4b5659;

}

.title{
    text-align: center;
    font-size: 40px;
    margin: 15px;
}
.description{
    padding: 0 100px;
}

    


