/* ogólne */
body {
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #013978;
}

/* Formularz  */
.form-title {
  font-size: 30px;
  position: center;

}

.form {
  margin-top: 50px;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 1px #99999918;
}

/* Nagłówek */
.form-header {
  display: flex;
  align-items: center;
}


/* Modal */
.instructions-modal {
  display: none;
}

.modal-main {
  z-index: 3;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4)
}

.modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 20px;
  outline: 0;
  width: 80%;
  border-radius: 20px;
}

.info-button,
.close-info-button {
  color: white;
  border: none;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 10px;
}

.info-button {
  background-color: rgb(87, 192, 213);
  margin-left: 90px;

}

.close-info-button {
  background-color: rgb(238, 58, 58);
}


/* Część Zadaniowa */
.todo-input-grid,
.todo-input-grid-labels {
  display: grid;
  grid-template-columns: 250px 100px 100px 130px 100px;
  column-gap: 40px;
  row-gap: 10px;
  padding: 10px;
  align-items: center;


}

/*szerokosc kazdej kolumny*/
.todo-grid {
  font-size: 100%;
}

.todo-task {
  display: grid;
  grid-template-columns: 250px 100px 100px 130px 100px;
  column-gap: 40px;
  row-gap: 10px;
  padding: 10px;
  align-items: center;
  border: solid;
  border-color: rgb(231, 196, 132);
  border-width: 1px;
  border-radius: 10px;
  margin-top: 10px;

}

.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}

.todo-input-grid-labels {
  grid-template-columns: 250px 100px 100px 150px 100px;
  font-size: large;
  margin-bottom: 10px;
  background-color: rgb(181, 185, 213);
  border-radius: 10px;

}

.name-input {
  font-size: 15px;
  padding: 6px;
}

.add-todo-button,
.delete-todo-button,
.generate-schedule-button,
.calendar-button,
.add-av-button,
.delete-av-button,
.info-button {
  box-shadow: 0px 4px 1px #999;
  opacity: 1;
  transition: 0.3s;
}

/* Buttony */
button:hover {
  opacity: 0.7;
}

button:active {
  opacity: 0.3;
}

.add-todo-button {
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
}

.delete-todo-button {
  background-color: darkred;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 10px;
}

.generate-schedule-button {
  background-color: orange;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

.calendar-button {
  background-color: darkgreen;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  width: 30%;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}